In [1]:
 # Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding="utf-8")

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data = purchase_data.dropna(how="any")

Player Count

In [5]:
#Display the total number of players
total_player = len(purchase_data)
player_df = pd.DataFrame ({"Total Players": [total_player]})
player_df

   Total Players
0            780

Purchasing Analysis

In [6]:
#Getting unique items
unique_items = purchase_data["Item ID"].unique()
unique_items_len = len(unique_items)

#Calculating the average price
average_price = purchase_data["Price"].mean()

#Total Revenue
total_revenue = purchase_data["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items_len],
                                      "Average Price": [average_price],
                                      "Number of Purchases": [total_player],
                                      "Total Revenue": [total_revenue]})
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

Gender Demographics

In [7]:
#Percentage and Count Of Male Players
count_male = purchase_data.loc[purchase_data["Gender"] == "Male"]
total_male = len(count_male)
perc_male = total_male/total_player

#Count of Female Players
count_female = purchase_data.loc[purchase_data["Gender"] == "Female", :]
total_female = len(count_female)
perc_female = total_female/total_player

#Percentage and count of Other/Non-Disclosed
other_count = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
total_other = len(other_count)
perc_other = total_other/total_player

gender_demo = pd.DataFrame({"Total Count": [total_male,total_female, total_other],
                            "Percentage of Players": [perc_male, perc_female, perc_other]},
                          {"Male", "Female", "Other/Non-Disclosed"})
gender_demo

                     Total Count  Percentage of Players
Other/Non-Disclosed          652               0.835897
Male                         113               0.144872
Female                        15               0.019231

Purchasing Analysis(Gender)

In [8]:


pcount = purchase_data.groupby("Gender")
gender_count = pcount["Gender"].count()
total_purc_count = pcount["Price"].sum()
total_purc = total_purc_count.sum()
print(total_purc)
priceavg1 = [pcount["Gender"] == "Male"]["Price"].mean()
print(priceavg1)
df1 = pd.DataFrame(gender_count)
df2 = pd.DataFrame(total_purc_count)

purc_ana = df1.join(df2)
purc_ana

2379.769999999999

TypeError: list indices must be integers or slices, not str