In [83]:
 # Dependencies and Setup
import pandas as pd

In [84]:
# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

In [85]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [86]:
purchase_data = purchase_data.dropna(how="any")

Player Count

In [87]:
#Display the total number of players
total_player_unique = purchase_data.groupby("SN")["SN"].nunique()
total_player = len(total_player_unique)
player_df = pd.DataFrame ({"Total Players": [total_player]})
player_df

   Total Players
0            576

Purchasing Analysis

In [88]:
#Getting unique items
unique_items = purchase_data["Item ID"].unique()
unique_items_len = len(unique_items)

#Calculating the average price
average_price = purchase_data["Price"].mean()

#Total Revenue
total_revenue = purchase_data["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items_len],
                                      "Average Price": [average_price],
                                      "Number of Purchases": [total_player_unique],
                                      "Total Revenue": [total_revenue]})
purchasing_analysis_df

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,183,3.050987,SN Adairialis76 1 Adastirin33 1 Aeda9...,2379.77

Gender Demographics

In [89]:
#Creating a copy of the dataframe to filter out unique players
gender_demo = purchase_data.drop_duplicates(["SN"])

#Percentage and Count Of Male Players
count_male = gender_demo.loc[gender_demo["Gender"] == "Male"]
total_male = len(count_male)
perc_male = (total_male/total_player)*100

#Count of Female Players
count_female = gender_demo.loc[gender_demo["Gender"] == "Female", :]
total_female = len(count_female)
perc_female = (total_female/total_player)*100

#Percentage and count of Other/Non-Disclosed
other_count = gender_demo.loc[gender_demo["Gender"] == "Other / Non-Disclosed", :]
total_other = len(other_count)
perc_other = (total_other/total_player)*100

gender_demo = pd.DataFrame({"Total Count": [total_male,total_female, total_other],
                            "Percentage of Players": [perc_male, perc_female, perc_other]},
                           index = ["Males","Females", "Other/Non-Disclosed"])
gender_demo

                     Total Count  Percentage of Players
Males                        484              84.027778
Females                       81              14.062500
Other/Non-Disclosed           11               1.909722

Purchasing Analysis(Gender)

In [178]:
#Getting the purchase count for each gender
pcount_female=  len(purchase_data.loc[purchase_data["Gender"] == "Female"])
pcount_male = len(purchase_data.loc[purchase_data["Gender"] == "Male"])
pcount_other =  len(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"])

#Defined a dataframe for the output
purch_ana = pd.DataFrame({"Purchase Count": [pcount_female, pcount_male, pcount_other],
                        "Gender": ["Female", "Male", "Other/Non-Disclosed"]})

#Setting Gender as the index for the dataframe
purch_ana = purch_ana.set_index("Gender")

#Calculating the average and adding it to the dataframe
dfAvg = grouped_df['Price'].mean().reset_index()
AvgList = []
for i in  dfAvg['Price']:
    AvgList.append(i)
purch_ana['Average Purchase Price'] = AvgList

#Calculating the total price by gender and adding it into the dataframe
grouped_df = purchase_data.groupby(["Gender"])
TotalPriceList = [] 
df = grouped_df['Price'].sum().reset_index()
for i in  df['Price']:
    TotalPriceList.append(i)
purch_ana['Total Purchase Value'] =TotalPriceList

purch_ana['Avg Total Purchase per Person'] = purch_ana['Total Purchase Value']/purch_ana['Purchase Count'].sum()

purch_ana

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,0.464026
Male,652,3.017853,1967.64,2.522615
Other/Non-Disclosed,15,3.346000,50.19,0.064346

In [91]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 50]

group_labels = ["<10", "10-14", "15-19", 
                "20-24", "25-29", "30-34", "35-39", "40+"]

age_demo = purchase_data.copy()
age_demo["Total Count"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
total_count_age = age_demo.groupby("Total Count")
total = total_count_age["SN"].count()


age = pd.DataFrame({"Total Count": total},
                  index=group_labels)
#age_demo = age_demo(dtype=("Total Count": int64))
age["Percentage of Players"] = age["Total Count"]/age["Total Count"].sum()
age

       Total Count  Percentage of Players
<10             32               0.041026
10-14           54               0.069231
15-19          200               0.256410
20-24          325               0.416667
25-29           77               0.098718
30-34           52               0.066667
35-39           33               0.042308
40+              7               0.008974