In [1]:
 # Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data = purchase_data.dropna(how="any")

# Player Count

In [5]:
#Display the total number of players
total_player_unique = purchase_data.groupby("SN")["SN"].nunique()
total_player = len(total_player_unique)
player_df = pd.DataFrame ({"Total Players": [total_player]})
player_df

   Total Players
0            576

# Purchasing Analysis

In [6]:
#Getting unique items
unique_items = purchase_data["Item ID"].unique()
unique_items_len = len(unique_items)

#Calculating the average price
average_price = purchase_data["Price"].mean()

#Calculating total number of pruchases
totalPurchases = purchase_data['Purchase ID'].count()

#Total Revenue
total_revenue = purchase_data["Price"].sum()

#Storing the results into a dataframe
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items_len],
                                      "Average Price": [average_price],
                                      "Number of Purchases": [totalPurchases],
                                      "Total Revenue": [total_revenue]})

#Changing the format for the output
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map('${:.2f}'.format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map('${:.2f}'.format)

#Displaying the the dataframe to the screen
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

# Gender Demographics

In [7]:
#Creating a copy of the dataframe to filter out unique players
gender_demo = purchase_data.drop_duplicates(["SN"])

#Percentage and Count Of Male Players
count_male = gender_demo.loc[gender_demo["Gender"] == "Male"]
total_male = len(count_male)
perc_male = (total_male/total_player)*100

#Count of Female Players
count_female = gender_demo.loc[gender_demo["Gender"] == "Female", :]
total_female = len(count_female)
perc_female = (total_female/total_player)*100

#Percentage and count of Other/Non-Disclosed
other_count = gender_demo.loc[gender_demo["Gender"] == "Other / Non-Disclosed", :]
total_other = len(other_count)
perc_other = (total_other/total_player)*100

#Storing the results into the dataframe
gender_demo = pd.DataFrame({"Total Count": [total_male,total_female, total_other],
                            "Percentage of Players": [perc_male, perc_female, perc_other]},
                           index = ["Males","Females", "Other/Non-Disclosed"])

#Changing the format for output
gender_demo['Percentage of Players'] = gender_demo['Percentage of Players'].map('{:.2f}%'.format)

#Displaying the results
gender_demo

                     Total Count Percentage of Players
Males                        484                84.03%
Females                       81                14.06%
Other/Non-Disclosed           11                 1.91%

# Purchasing Analysis(Gender)

In [8]:
#Getting the purchase count for each gender
pcount_female=  len(purchase_data.loc[purchase_data["Gender"] == "Female"])
pcount_male = len(purchase_data.loc[purchase_data["Gender"] == "Male"])
pcount_other =  len(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"])

#Defined a dataframe for the output
purch_ana = pd.DataFrame({"Purchase Count": [pcount_female, pcount_male, pcount_other],
                        "Gender": ["Female", "Male", "Other/Non-Disclosed"]})

#Setting Gender as the index for the dataframe
purch_ana = purch_ana.set_index("Gender")

#Creating a dataframe with the help of groupby function
grouped_df = purchase_data.groupby(['Gender'])

#Calculating the average and adding it to the dataframe
dfAvg = grouped_df['Price'].mean().reset_index()
AvgList = []
for i in  dfAvg['Price']:
    AvgList.append(i)
purch_ana['Average Purchase Price'] = AvgList

#Calculating the total price by gender and adding it into the dataframe
TotalPriceList = [] 
df = grouped_df['Price'].sum().reset_index()
for i in  df['Price']:
   TotalPriceList.append(i)
purch_ana['Total Purchase Value'] = TotalPriceList

#Calculating the average per person
purch_ana['Avg Total Purchase per Person'] = purch_ana['Total Purchase Value']/grouped_df['SN'].nunique()

#Changing the format for output
purch_ana['Average Purchase Price'] = purch_ana['Average Purchase Price'].map('${:.2f}'.format)
purch_ana['Total Purchase Value'] = purch_ana['Total Purchase Value'].map('${:.2f}'.format)
purch_ana['Avg Total Purchase per Person'] = purch_ana['Avg Total Purchase per Person'].map('${:.2f}'.format)

purch_ana

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other/Non-Disclosed,15,$3.35,$50.19,$nan

# Age Demographics

In [9]:
#Created a bin to store the age ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]

#Created the group labels to make the cut against
group_labels = ["<10", "10-14", "15-19", 
                "20-24", "25-29", "30-34", "35-39", "40+"]

#Making a copy of the original dataframe to work on Analysis for this section
age_demo = purchase_data.copy()

#Removing the duplicates in the data
age_demo = age_demo.drop_duplicates(['SN'])

#Getting the values by binning
age_demo["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
total_count_age = age_demo.groupby("Age Ranges")
total = total_count_age["SN"].count()

#Creating the dataframe for the output
age = pd.DataFrame({"Total Count": total})

#Calculating the Percentage
age["Percentage of Players"] = age["Total Count"]/age["Total Count"].sum() * 100

#Changing the format for output
age["Percentage of Players"] = age["Percentage of Players"].map('{:.2f}%'.format)

#Printing the dataframe
age

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

# Purchasing Analysis(Age)

In [10]:
#Creaating a new dataframe for the analysis in this section
age_ana = purchase_data.copy()

age_ana["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
total_age_ana = age_ana.groupby('Age Ranges')
total_age_count = total_age_ana['SN'].count()

#Storing the value in the output dataframe
age_ana_df = pd.DataFrame({"Purchase Count": total_age_count})

#Calculating average price by this group
TotalAvgAge = [] 
df4 = total_age_ana['Price'].mean().reset_index()
for i in  df4['Price']:
    TotalAvgAge.append(i)
age_ana_df['Average Purchase Price'] =TotalAvgAge

#Calculating total price by this group
TotalPurchaseAge = [] 
df3 = total_age_ana['Price'].sum().reset_index()
for i in  df3['Price']:
    TotalPurchaseAge.append(i)
age_ana_df['Total Purchase Value'] =TotalPurchaseAge

#Calculating average per person
age_ana_df['Avg Total Purchase per Person'] = age_ana_df['Total Purchase Value']/age['Total Count']

#Changing the format for output
age_ana_df['Average Purchase Price'] = age_ana_df['Average Purchase Price'].map('${:.2f}'.format)
age_ana_df['Total Purchase Value'] = age_ana_df['Total Purchase Value'].map('${:.2f}'.format)
age_ana_df['Avg Total Purchase per Person'] = age_ana_df['Avg Total Purchase per Person'].map('${:.2f}'.format)

#Printing the result
age_ana_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders

In [11]:
#Getting the purchase count  by age ranges
top_tot_ana = purchase_data['SN'].value_counts()

#Grouping the dataframe by SN
top = purchase_data.groupby(['SN'])

#Adding those values to the dataframe
top_ana = pd.DataFrame({"Purchase Count": top_tot_ana})

# #Calculating the average of purchase grouped by age ranges
avg_age = top['Price'].mean()

top_ana['Average Purchase Price'] = avg_age

# #Calculating total purchase value by grouped age ranges
price_sum = top['Price'].sum()
price_sum_list = []

top_ana['Total Purchase Value'] = price_sum

#Setting the index title for the output table
top_ana.index.name = 'SN'

# #Sorting the dataframe in descending order
top_ana_descen = top_ana.sort_values('Total Purchase Value',ascending=False)

#Changing the format for output
top_ana_descen['Average Purchase Price'] = top_ana_descen['Average Purchase Price'].map('${:.2f}'.format)
top_ana_descen['Total Purchase Value'] = top_ana_descen['Total Purchase Value'].map('${:.2f}'.format)

#Printing the output
top_ana_descen

               Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                   5                  $3.79               $18.96
Idastidru52                 4                  $3.86               $15.45
Chamjask73                  3                  $4.61               $13.83
Iral74                      4                  $3.40               $13.62
Iskadarya95                 3                  $4.37               $13.10
...                       ...                    ...                  ...
Frichjaskan98               1                  $1.02                $1.02
Hala31                      1                  $1.02                $1.02
Chanirra79                  1                  $1.01                $1.01
Aidai61                     1                  $1.01                $1.01
Alo38                       1                  $1.00                $1.00

[576 rows x 3 columns]

# Most Popular Items

In [12]:
#Grouping the dataframe by item id and item name
item_id_groupby_df = purchase_data.groupby(['Item ID','Item Name'])

#Calculate the purchase count based on group
most_purch_count = item_id_groupby_df['Price'].count()

#Getting Item price
most_item_price = item_id_groupby_df['Price'].mean()

#Calculating the purchase value
most_purch_value = item_id_groupby_df['Price'].sum()

#Storing the results in dataframe
most_popular = pd.DataFrame({'Purchase Count': most_purch_count,
                             'Item Price': most_item_price,
                            'Total Purchase Value': most_purch_value})

#Changing the format for output
most_popular['Item Price'] = most_popular['Item Price'].map('${:.2f}'.format)
most_popular['Total Purchase Value'] = most_popular['Total Purchase Value'].map('${:.2f}'.format)

#Sorting the dataframe on the purchase count in descending order
most_popular = most_popular.sort_values('Purchase Count', ascending=False).head(5)

#Printing the result
most_popular

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

# Most Profitable Items

In [13]:
#Sorting the dataframe on the column total purchase in descending order
most_popular.sort_values(['Purchase Count', 'Total Purchase Value'], ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16