In [1]:
 # Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head(30)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16

In [4]:
purchase_data = purchase_data.dropna(how="any")

# Player Count

In [5]:
#Display the total number of players
total_player_unique = purchase_data.groupby("SN")["SN"].nunique()
total_player = len(total_player_unique)
player_df = pd.DataFrame ({"Total Players": [total_player]})
player_df

   Total Players
0            576

# Purchasing Analysis

In [6]:
#Getting unique items
unique_items = purchase_data["Item ID"].unique()
unique_items_len = len(unique_items)

#Calculating the average price
average_price = purchase_data["Price"].mean()

#Total Revenue
total_revenue = purchase_data["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items_len],
                                      "Average Price": [average_price],
                                      "Number of Purchases": [total_player_unique],
                                      "Total Revenue": [total_revenue]})
purchasing_analysis_df

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,183,3.050987,SN Adairialis76 1 Adastirin33 1 Aeda9...,2379.77

# Gender Demographics

In [7]:
#Creating a copy of the dataframe to filter out unique players
gender_demo = purchase_data.drop_duplicates(["SN"])

#Percentage and Count Of Male Players
count_male = gender_demo.loc[gender_demo["Gender"] == "Male"]
total_male = len(count_male)
perc_male = (total_male/total_player)*100

#Count of Female Players
count_female = gender_demo.loc[gender_demo["Gender"] == "Female", :]
total_female = len(count_female)
perc_female = (total_female/total_player)*100

#Percentage and count of Other/Non-Disclosed
other_count = gender_demo.loc[gender_demo["Gender"] == "Other / Non-Disclosed", :]
total_other = len(other_count)
perc_other = (total_other/total_player)*100

gender_demo = pd.DataFrame({"Total Count": [total_male,total_female, total_other],
                            "Percentage of Players": [perc_male, perc_female, perc_other]},
                           index = ["Males","Females", "Other/Non-Disclosed"])
gender_demo

                     Total Count  Percentage of Players
Males                        484              84.027778
Females                       81              14.062500
Other/Non-Disclosed           11               1.909722

# Purchasing Analysis(Gender)

In [8]:
#Getting the purchase count for each gender
pcount_female=  len(purchase_data.loc[purchase_data["Gender"] == "Female"])
pcount_male = len(purchase_data.loc[purchase_data["Gender"] == "Male"])
pcount_other =  len(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"])

#Defined a dataframe for the output
purch_ana = pd.DataFrame({"Purchase Count": [pcount_female, pcount_male, pcount_other],
                        "Gender": ["Female", "Male", "Other/Non-Disclosed"]})

#Setting Gender as the index for the dataframe
purch_ana = purch_ana.set_index("Gender")

#Creating a dataframe with the help of groupby function
grouped_df = purchase_data.groupby(['Gender'])

#Calculating the average and adding it to the dataframe
dfAvg = grouped_df['Price'].mean().reset_index()
AvgList = []
for i in  dfAvg['Price']:
    AvgList.append(i)
purch_ana['Average Purchase Price'] = AvgList

#Calculating the total price by gender and adding it into the dataframe
TotalPriceList = [] 
df = grouped_df['Price'].sum().reset_index()
for i in  df['Price']:
    TotalPriceList.append(i)
purch_ana['Total Purchase Value'] =TotalPriceList

#Calculating the average per person
purch_ana['Avg Total Purchase per Person'] = purch_ana['Total Purchase Value']/purch_ana['Purchase Count'].sum()

purch_ana

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,0.464026
Male,652,3.017853,1967.64,2.522615
Other/Non-Disclosed,15,3.346000,50.19,0.064346

# Age Demographics

In [9]:
#Created a bin to store the age ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]

#Created the group labels to make the cut against
group_labels = ["<10", "10-14", "15-19", 
                "20-24", "25-29", "30-34", "35-39", "40+"]

#Making a copy of the original dataframe to work on Analysis for this section
age_demo = purchase_data.copy()

#Removing the duplicates in the data
age_demo = age_demo.drop_duplicates(['SN'])

#Getting the values by binning
age_demo["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
total_count_age = age_demo.groupby("Age Ranges")
total = total_count_age["SN"].count()

#Creating the dataframe for the output
age = pd.DataFrame({"Total Count": total})

#Calculating the Percentage
age["Percentage of Players"] = age["Total Count"]/age["Total Count"].sum()

#Printing the dataframe
age

            Total Count  Percentage of Players
Age Ranges
<10                  17               0.029514
10-14                22               0.038194
15-19               107               0.185764
20-24               258               0.447917
25-29                77               0.133681
30-34                52               0.090278
35-39                31               0.053819
40+                  12               0.020833

# Purchasing Analysis(Age)

In [10]:
#Creaating a new dataframe for the analysis in this section
age_ana = purchase_data.copy()

age_ana["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
total_age_ana = age_ana.groupby('Age Ranges')
total_age_count = total_age_ana['SN'].count()

#Storing the value in the output dataframe
age_ana_df = pd.DataFrame({"Purchase Count": total_age_count})

#Calculating average price by this group
TotalAvgAge = [] 
df4 = total_age_ana['Price'].mean().reset_index()
for i in  df4['Price']:
    TotalAvgAge.append(i)
age_ana_df['Average Purchase Price'] =TotalAvgAge

#Calculating total price by this group
TotalPurchaseAge = [] 
df3 = total_age_ana['Price'].sum().reset_index()
for i in  df3['Price']:
    TotalPurchaseAge.append(i)
age_ana_df['Total Purchase Value'] =TotalPurchaseAge

#Calculating average per person
age_ana_df['Avg Total Purchase per Person'] = age_ana_df['Total Purchase Value']/age['Total Count']

age_ana_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

# Top Spenders

In [11]:
#Getting the purchase count  by age ranges
top_tot_ana = purchase_data['SN'].value_counts()

#Grouping the dataframe by SN
top = purchase_data.groupby(['SN'])

#Adding those values to the dataframe
top_ana = pd.DataFrame({"Purchase Count": top_tot_ana})

# #Calculating the average of purchase grouped by age ranges
avg_age = top['Price'].mean()

top_ana['Average Purchase Price'] = avg_age

# #Calculating total purchase value by grouped age ranges
price_sum = top['Price'].sum()
price_sum_list = []

top_ana['Total Purchase Value'] = price_sum

# #Sorting the dataframe in descending order
top_ana_descen = top_ana.sort_values('Total Purchase Value',ascending=False)
top_ana_descen

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Eudanu84                  1                1.020000                  1.02
Ililsasya43               1                1.020000                  1.02
Chanirra79                1                1.010000                  1.01
Aidai61                   1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

# Most Popular Items

In [19]:
#Grouping the dataframe by item id and item name
item_id_groupby_df = purchase_data.groupby(['Item ID','Item Name'])

#Calculate the purchase count based on group
most_purch_count = item_id_groupby_df['Price'].count()

#Getting Item price
most_item_price = item_id_groupby_df['Price'].mean()

#Calculating the purchase value
most_purch_value = item_id_groupby_df['Price'].sum()

most_popular = pd.DataFrame({'Purchase Count': most_purch_count,
                             'Item Price': most_item_price,
                            'Total Purchase Value': most_purch_value})

most_popular.sort_values('Purchase Count', ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

# Most Profitable Items

In [20]:
most_popular.sort_values('Total Purchase Value', ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80